@import "minecraft_blocks.css";

:root{
    --tile-container-grid-template-columns: 4;
    --tile-container-grid-template-rows: 4;
    --base-triangle-size: 100px;
    --base-triangle-tile-container-grid-size: 1;
    --controls-container-width: 200px;
}

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
}

.minecraft-pattern {
    position: relative;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 2px;
    border: 2px solid #e4e4e4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
    /*grid-template-rows: repeat(5, 1fr);*/
}

.base-triangle-container {
    position: relative;
    padding: 0px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(var(--base-triangle-tile-container-grid-size), 100px);
    grid-template-rows: auto;
    flex-wrap: wrap;

}

.base-triangle-canvas {
    position: absolute;
}

.preview-tile-canvas {
    position: absolute;
}

.base-triangle-container-tile {
    width: 100px;
    height: 100px;
    display: block;
    transform: rotate(0deg);
    image-rendering: pixelated;
    background-size: 100%;

    transition: all .15s ease;
    &:hover {
        &:not(.empty) {
            cursor: pointer;
            /* filter: hue-rotate(20deg);*/
            box-shadow: 1px 1px 3px 3px grey;
            transform: scale(1.01);
        }
    }

    &::before {
        position: absolute;
        content:"";
        width: 100px;
        height: 100px;
        background-size: contain;
    }
}

.rotated_0 {
    &::before{
        transform: rotate(0deg);
    }
}

.rotated_90 {
    &::before{
        transform: rotate(90deg);
    }
}

.rotated_180 {
    &::before{
        transform: rotate(180deg);
    }
}

.rotated_270 {
    &::before{
        transform: rotate(-90deg);
    }
}

.empty {
    background: transparent;
    box-shadow: none;
    border: none;
}

.tile-container {
    position: relative;
    padding: 20px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(var(--tile-container-grid-template-columns), var(--base-triangle-size));
    grid-template-rows: repeat(var(--tile-container-grid-template-rows), var(--base-triangle-size));
    flex-wrap: wrap;
}

.preview-tile {
    display: block;
    flex: 0 1 auto;
    height: 100px;
    width: 100%;
    background-position: center;
    image-rendering: pixelated;
    transform: rotate(0deg);
    background-size: 100%;

    &::before {
        position: absolute;
        content:"";
        width: 100px;
        height: 100px;
        background-size: contain;
    }
}



.control-line {
    padding: 2px;
    align-items: center;
}

.controls-container {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 0 0;
    //background: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-right: none;

    min-width: 250px;
    width: var(--controls-container-width);
}

.control-button {
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin: 5px auto;
    background: #017153;
    border: 1px solid #017153;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
    }
/* disabled state*/
&:disabled {
    background: #c5c5c5;
    border-color: #c5c5c5;
    &:hover {
        cursor: not-allowed;
    }
}
}
h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 1.75rem;
}
h2 {
    margin: 0;
    max-width: 300px;
    text-align: center;
    font-size: 1rem;
}
