:root{
    --tile-container-grid-template-columns: 4;
    --tile-container-grid-template-rows: 4;
}

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
}

.minecraft-pattern {
    position: relative;
    padding: 20px;
    background: #e6e6e6;
    border-radius: 2px;
    border: 2px solid #e4e4e4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
    /*grid-template-rows: repeat(5, 1fr);*/
}

.tile-container {
    position: relative;
    padding: 20px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(var(--tile-container-grid-template-columns), 100px);
    grid-template-rows: repeat(var(--tile-container-grid-template-rows), 100px);
    flex-wrap: wrap;
}

.tile {
    display: block;
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    /*border-radius: 1px;*/
    /*box-shadow: 1px 1px 3px 0px grey;*/
    background-size: 100px 100px; /* this is the size of the container*/
    background-position: center; /* this should be based on the distance from the container edges*/
    background-image: url("../yellow_glazed_terracotta.png");
    image-rendering: pixelated;
    transform: rotate(0deg);
}

.control-line {

    padding: 2px;
    align-items: center;
}

.controls-container {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 0 0;
    background: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-right: none;

    min-width: 100px;
    max-width: 300px;
}

.control-button {
    display: block;
    width: 100%;
    padding: 10px 16px;
    margin: 5px auto;
    background: #017153;
    border: 1px solid #017153;
    color: white;
    font-size: 18px;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
    }
/* disabled state*/
&:disabled {
    background: #c5c5c5;
    border-color: #c5c5c5;
    &:hover {
        cursor: not-allowed;
    }
}
}
/* reference image*/
   .reference-img {
       display: block;
       width: 100%;
       max-width: 300px;
       margin: 5px auto;
       border: 2px solid #017153;
       border-radius: 2px;
       background-image: url("../yellow_glazed_terracotta.png");
       image-rendering: pixelated;
       background-size: 100% 100%; /* this is the size of the container*/
       background-position: center; /* this should be based on the distance from the container edges*/
       transition: all .15s ease;

       &:hover {
           &:not(.empty) {
               cursor: pointer;
               /* filter: hue-rotate(20deg);*/
               box-shadow: 1px 1px 3px 1px grey;
               transform: scale(1.01);
           }
       }
   }
h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 1.75rem;
}
h2 {
    margin: 0;
    max-width: 300px;
    text-align: center;
    font-size: 1rem;
}
